{
  "openapi": "3.0.0",
  "info": {
    "description": "Leonardo.Ai API OpenAPI specification.",
    "title": "Rest Endpoints",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://cloud.leonardo.ai/api/rest/v1",
      "description": "Leonardo.Ai API server"
    }
  ],
  "tags": [
    {
      "name": "Blueprints"
    },
    {
      "name": "Dataset"
    },
    {
      "name": "Elements"
    },
    {
      "name": "Image"
    },
    {
      "name": "Init Images"
    },
    {
      "name": "Media"
    },
    {
      "name": "Motion"
    },
    {
      "name": "Models"
    },
    {
      "name": "Pricing Calculator"
    },
    {
      "name": "Prompt"
    },
    {
      "name": "Realtime Canvas"
    },
    {
      "name": "Texture"
    },
    {
      "name": "User"
    },
    {
      "name": "Variation"
    },
    {
      "name": "3D Model Assets"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": ["User"],
        "summary": "Get user information",
        "description": "This endpoint will return your user information such as your user id, username, token renewal date and current amounts of the following: subscription tokens, gpt (prompt generation) tokens, and model training tokens",
        "operationId": "getUserSelf",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_details": {
                      "items": {
                        "description": "columns and relationships of \"user_details\"",
                        "nullable": false,
                        "properties": {
                          "user": {
                            "description": "columns and relationships of \"users\"",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/uuid"
                              },
                              "username": {
                                "nullable": true,
                                "title": "String",
                                "type": "string",
                                "description": "Username of the user."
                              }
                            },
                            "title": "users",
                            "type": "object"
                          },
                          "tokenRenewalDate": {
                            "nullable": true,
                            "title": "timestamp",
                            "type": "string",
                            "description": "User Plan Token Renewal Date."
                          },
                          "paidTokens": {
                            "nullable": true,
                            "title": "Int",
                            "type": "integer",
                            "description": "Current balance of paid tokens the user has."
                          },
                          "subscriptionTokens": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer",
                            "description": "Current balance of user plan subscription tokens the user has."
                          },
                          "subscriptionGptTokens": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer",
                            "description": "Current balance of user plan GPT tokens the user has."
                          },
                          "subscriptionModelTokens": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer",
                            "description": "Current balance of model training tokens the user has."
                          },
                          "apiConcurrencySlots": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer",
                            "description": "API Concurrency Slots."
                          },
                          "apiPaidTokens": {
                            "nullable": true,
                            "title": "Int",
                            "type": "integer",
                            "description": "Current balance of API paid tokens the user has."
                          },
                          "apiSubscriptionTokens": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer",
                            "description": "Current balance of Enterprise API subscriptions tokens the user has."
                          },
                          "apiPlanTokenRenewalDate": {
                            "nullable": true,
                            "title": "timestamp",
                            "type": "string",
                            "description": "API Plan Token Renewal Date."
                          }
                        },
                        "title": "user_details",
                        "type": "object"
                      },
                      "nullable": false,
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "Responses for GET /me"
          }
        }
      }
    },
    "/generations": {
      "post": {
        "tags": ["Image"],
        "summary": "Create a Generation of Images",
        "description": "This endpoint will generate images",
        "operationId": "createGeneration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "alchemy": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Enable to use Alchemy. Note: The appropriate Alchemy version is selected for the specified model. For example, XL models will use Alchemy V2.",
                    "default": true
                  },
                  "contrastRatio": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "Contrast Ratio to use with Alchemy. Must be a float between 0 and 1 inclusive."
                  },
                  "contrast": {
                    "type": "number",
                    "description": "Adjusts the contrast level of the generated image. Used in Phoenix and Flux models. Accepts values [1.0, 1.3, 1.8, 2.5, 3, 3.5, 4, 4.5]. For Phoenix, if alchemy is true, contrast needs to be 2.5 or higher.",
                    "minimum": 1,
                    "maximum": 4.5,
                    "example": 3.5,
                    "nullable": true,
                    "title": "Float"
                  },
                  "controlnets": {
                    "items": {
                      "$ref": "#/components/schemas/controlnet_input"
                    },
                    "nullable": true,
                    "type": "array"
                  },
                  "elements": {
                    "items": {
                      "$ref": "#/components/schemas/element_input"
                    },
                    "nullable": true,
                    "type": "array"
                  },
                  "userElements": {
                    "items": {
                      "$ref": "#/components/schemas/user_elements_input"
                    },
                    "nullable": true,
                    "type": "array"
                  },
                  "expandedDomain": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Enable to use the Expanded Domain feature of Alchemy."
                  },
                  "fantasyAvatar": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Enable to use the Fantasy Avatar feature."
                  },
                  "guidance_scale": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How strongly the generation should reflect the prompt. 7 is recommended. Must be between 1 and 20."
                  },
                  "height": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The input height of the images. Must be between 32 and 1536 and be a multiple of 8. Note: Input resolution is not always the same as output resolution due to upscaling from other features.",
                    "default": 768
                  },
                  "highContrast": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Enable to use the High Contrast feature of Prompt Magic. Note: Controls RAW mode. Set to false to enable RAW mode."
                  },
                  "highResolution": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Enable to use the High Resolution feature of Prompt Magic."
                  },
                  "imagePrompts": {
                    "items": {
                      "nullable": true,
                      "title": "String",
                      "type": "string"
                    },
                    "nullable": true,
                    "type": "array"
                  },
                  "imagePromptWeight": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number"
                  },
                  "init_generation_image_id": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of an existing image to use in image2image."
                  },
                  "init_image_id": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of an Init Image to use in image2image."
                  },
                  "init_strength": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How strongly the generated images should reflect the original image in image2image. Must be a float between 0.1 and 0.9."
                  },
                  "modelId": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The model ID used for image generation. If not provided, uses sd_version to determine the version of Stable Diffusion to use. In-app, model IDs are under the Finetune Models menu. Click on the platform model or your custom model, then click View More. For platform models, you can also use the List Platform Models API.",
                    "default": "b24e16ff-06e3-43eb-8d33-4416c2d75876"
                  },
                  "negative_prompt": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The negative prompt used for the image generation"
                  },
                  "num_images": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The number of images to generate. Must be between 1 and 8. If either width or height is over 768, must be between 1 and 4.",
                    "default": 4
                  },
                  "num_inference_steps": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The Step Count to use for the generation. Must be between 10 and 60. Default is 15."
                  },
                  "photoReal": {
                    "$ref": "#/components/schemas/photoRealArg"
                  },
                  "photoRealVersion": {
                    "$ref": "#/components/schemas/photoRealVersion"
                  },
                  "photoRealStrength": {
                    "$ref": "#/components/schemas/photoRealStrengthArg"
                  },
                  "presetStyle": {
                    "$ref": "#/components/schemas/sd_generation_style"
                  },
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate images",
                    "default": "A majestic cat in the snow"
                  },
                  "promptMagic": {
                    "$ref": "#/components/schemas/promptMagicArg"
                  },
                  "promptMagicStrength": {
                    "$ref": "#/components/schemas/promptMagicStrengthArg"
                  },
                  "promptMagicVersion": {
                    "$ref": "#/components/schemas/promptMagicVersionArg"
                  },
                  "public": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Whether the generated images should show in the community feed."
                  },
                  "scheduler": {
                    "$ref": "#/components/schemas/sd_generation_schedulers"
                  },
                  "sd_version": {
                    "$ref": "#/components/schemas/sd_versions"
                  },
                  "seed": {
                    "$ref": "#/components/schemas/seed"
                  },
                  "tiling": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Whether the generated images should tile on all axis."
                  },
                  "transparency": {
                    "nullable": true,
                    "title": "TransparencyType",
                    "type": "string",
                    "enum": ["disabled", "foreground_only"],
                    "description": "Which type of transparency this image should use"
                  },
                  "ultra": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Enable to use Ultra mode. Note: can not be used with Alchemy."
                  },
                  "unzoom": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Whether the generated images should be unzoomed (requires unzoomAmount and init_image_id to be set)."
                  },
                  "unzoomAmount": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How much the image should be unzoomed (requires an init_image_id and unzoom to be set to true)."
                  },
                  "upscaleRatio": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How much the image should be upscaled. (Enterprise Only)"
                  },
                  "width": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The input width of the images. Must be between 32 and 1536 and be a multiple of 8. Note: Input resolution is not always the same as output resolution due to upscaling from other features.",
                    "default": 1024
                  },
                  "controlNet": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "This parameter will be deprecated in September 2024. Please use the controlnets array instead.",
                    "deprecated": true
                  },
                  "controlNetType": {
                    "$ref": "#/components/schemas/controlnet_type",
                    "deprecated": true
                  },
                  "weighting": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "This parameter will be deprecated in September 2024. Please use the controlnets array instead.",
                    "deprecated": true
                  },
                  "canvasRequest": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Whether the generation is for the Canvas Editor feature."
                  },
                  "canvasRequestType": {
                    "$ref": "#/components/schemas/canvasRequestType"
                  },
                  "canvasInitId": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of an initial image to use in Canvas Editor request."
                  },
                  "canvasMaskId": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of a mask image to use in Canvas Editor request."
                  },
                  "enhancePrompt": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "When enabled, your prompt is expanded to include more detail."
                  },
                  "enhancePromptInstruction": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "When enhancePrompt is enabled, the prompt is enhanced based on the given instructions."
                  }
                },
                "type": "object",
                "required": ["prompt"]
              }
            }
          },
          "description": "Query parameters to be provided in the request body as a JSON object",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sdGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "generationId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "apiCreditCost": {
                          "nullable": true,
                          "type": "integer",
                          "description": "API Credits Cost for Image Generation. Available for Production API Users. Note: it will be deprecated. Please use the cost instead.",
                          "deprecated": true
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "SDGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "sdGenerationJob": {
                    "generationId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /generations"
          }
        }
      }
    },
    "/generations/{id}": {
      "get": {
        "tags": ["Image"],
        "summary": "Get a Single Generation",
        "description": "This endpoint will provide information about a specific generation",
        "operationId": "getGenerationById",
        "parameters": [
          {
            "required": true,
            "description": "The ID of the generation to return.",
            "in": "path",
            "name": "id",
            "schema": {
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generations_by_pk": {
                      "description": "columns and relationships of \"generations\"",
                      "nullable": true,
                      "properties": {
                        "createdAt": {
                          "$ref": "#/components/schemas/timestamp"
                        },
                        "generated_images": {
                          "items": {
                            "description": "columns and relationships of \"generated_images\"",
                            "nullable": false,
                            "properties": {
                              "generated_image_variation_generics": {
                                "items": {
                                  "description": "columns and relationships of \"generated_image_variation_generic\"",
                                  "nullable": false,
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/uuid"
                                    },
                                    "status": {
                                      "$ref": "#/components/schemas/job_status"
                                    },
                                    "transformType": {
                                      "$ref": "#/components/schemas/VARIATION_TYPE"
                                    },
                                    "url": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    }
                                  },
                                  "title": "generated_image_variation_generic",
                                  "type": "object"
                                },
                                "nullable": false,
                                "type": "array"
                              },
                              "fantasyAvatar": {
                                "nullable": true,
                                "title": "Boolean",
                                "type": "boolean",
                                "description": "If fantasyAvatar feature was used."
                              },
                              "id": {
                                "$ref": "#/components/schemas/uuid"
                              },
                              "imageToVideo": {
                                "$ref": "#/components/schemas/imageToVideo"
                              },
                              "likeCount": {
                                "nullable": false,
                                "title": "Int",
                                "type": "integer"
                              },
                              "motion": {
                                "$ref": "#/components/schemas/motion"
                              },
                              "motionModel": {
                                "$ref": "#/components/schemas/motionModel"
                              },
                              "motionMP4URL": {
                                "$ref": "#/components/schemas/motionMP4URL"
                              },
                              "motionStrength": {
                                "$ref": "#/components/schemas/motionStrength"
                              },
                              "nsfw": {
                                "nullable": false,
                                "title": "Boolean",
                                "type": "boolean"
                              },
                              "url": {
                                "nullable": false,
                                "title": "String",
                                "type": "string"
                              }
                            },
                            "title": "generated_images",
                            "type": "object"
                          },
                          "nullable": false,
                          "type": "array"
                        },
                        "generation_elements": {
                          "items": {
                            "description": "This table captures the elements that are applied to Generations.",
                            "nullable": false,
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/bigint"
                              },
                              "lora": {
                                "description": "Element used for the generation.",
                                "nullable": true,
                                "properties": {
                                  "akUUID": {
                                    "$ref": "#/components/schemas/lora/properties/akUUID"
                                  },
                                  "baseModel": {
                                    "$ref": "#/components/schemas/sd_versions"
                                  },
                                  "description": {
                                    "$ref": "#/components/schemas/lora/properties/description"
                                  },
                                  "name": {
                                    "$ref": "#/components/schemas/lora/properties/name"
                                  },
                                  "urlImage": {
                                    "$ref": "#/components/schemas/lora/properties/urlImage"
                                  },
                                  "weightDefault": {
                                    "$ref": "#/components/schemas/lora/properties/weightDefault"
                                  },
                                  "weightMax": {
                                    "$ref": "#/components/schemas/lora/properties/weightMax"
                                  },
                                  "weightMin": {
                                    "$ref": "#/components/schemas/lora/properties/weightMin"
                                  }
                                },
                                "title": "loras",
                                "type": "object"
                              },
                              "weightApplied": {
                                "$ref": "#/components/schemas/numeric"
                              }
                            },
                            "title": "generation_elements",
                            "type": "object"
                          },
                          "nullable": false,
                          "type": "array"
                        },
                        "guidanceScale": {
                          "$ref": "#/components/schemas/float8"
                        },
                        "id": {
                          "$ref": "#/components/schemas/uuid"
                        },
                        "imageHeight": {
                          "nullable": false,
                          "title": "Int",
                          "type": "integer"
                        },
                        "imageWidth": {
                          "nullable": false,
                          "title": "Int",
                          "type": "integer"
                        },
                        "inferenceSteps": {
                          "nullable": true,
                          "title": "Int",
                          "type": "integer"
                        },
                        "initStrength": {
                          "$ref": "#/components/schemas/float8"
                        },
                        "modelId": {
                          "$ref": "#/components/schemas/uuid"
                        },
                        "negativePrompt": {
                          "nullable": true,
                          "title": "String",
                          "type": "string"
                        },
                        "photoReal": {
                          "$ref": "#/components/schemas/photoRealRes"
                        },
                        "photoRealStrength": {
                          "$ref": "#/components/schemas/photoRealStrengthRes"
                        },
                        "presetStyle": {
                          "$ref": "#/components/schemas/sd_generation_style"
                        },
                        "prompt": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "promptMagic": {
                          "$ref": "#/components/schemas/promptMagicRes"
                        },
                        "promptMagicStrength": {
                          "$ref": "#/components/schemas/promptMagicStrengthRes"
                        },
                        "promptMagicVersion": {
                          "$ref": "#/components/schemas/promptMagicVersionRes"
                        },
                        "public": {
                          "nullable": false,
                          "title": "Boolean",
                          "type": "boolean"
                        },
                        "scheduler": {
                          "$ref": "#/components/schemas/sd_generation_schedulers"
                        },
                        "sdVersion": {
                          "$ref": "#/components/schemas/sd_versions"
                        },
                        "seed": {
                          "$ref": "#/components/schemas/seed"
                        },
                        "status": {
                          "$ref": "#/components/schemas/job_status"
                        },
                        "ultra": {
                          "$ref": "#/components/schemas/sd_generation_ultra"
                        }
                      },
                      "title": "generations",
                      "type": "object"
                    }
                  }
                }
              }
            },
            "description": "Responses for GET /generations/{id}"
          }
        }
      },
      "delete": {
        "tags": ["Image"],
        "summary": "Delete a Single Generation",
        "description": "This endpoint deletes a specific generation",
        "operationId": "deleteGenerationById",
        "parameters": [
          {
            "required": true,
            "description": "The ID of the generation to delete.",
            "in": "path",
            "name": "id",
            "schema": {
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delete_generations_by_pk": {
                      "description": "columns and relationships of \"generations\"",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/uuid"
                        }
                      },
                      "title": "generations",
                      "type": "object"
                    }
                  }
                }
              }
            },
            "description": "Responses for DELETE /generations/{id}"
          }
        }
      }
    },
    "/generations/user/{userId}": {
      "get": {
        "tags": ["Image"],
        "summary": "Get generations by user ID",
        "description": "This endpoint returns all generations by a specific user",
        "operationId": "getGenerationsByUserId",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "userId",
            "schema": {
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generations": {
                      "items": {
                        "description": "columns and relationships of \"generations\"",
                        "nullable": false,
                        "properties": {
                          "createdAt": {
                            "$ref": "#/components/schemas/timestamp"
                          },
                          "generated_images": {
                            "items": {
                              "description": "columns and relationships of \"generated_images\"",
                              "nullable": false,
                              "properties": {
                                "generated_image_variation_generics": {
                                  "items": {
                                    "description": "columns and relationships of \"generated_image_variation_generic\"",
                                    "nullable": false,
                                    "properties": {
                                      "id": {
                                        "$ref": "#/components/schemas/uuid"
                                      },
                                      "status": {
                                        "$ref": "#/components/schemas/job_status"
                                      },
                                      "transformType": {
                                        "$ref": "#/components/schemas/VARIATION_TYPE"
                                      },
                                      "url": {
                                        "nullable": true,
                                        "title": "String",
                                        "type": "string"
                                      }
                                    },
                                    "title": "generated_image_variation_generic",
                                    "type": "object"
                                  },
                                  "nullable": false,
                                  "type": "array"
                                },
                                "id": {
                                  "$ref": "#/components/schemas/uuid"
                                },
                                "imageToVideo": {
                                  "$ref": "#/components/schemas/imageToVideo"
                                },
                                "likeCount": {
                                  "nullable": false,
                                  "title": "Int",
                                  "type": "integer"
                                },
                                "motion": {
                                  "$ref": "#/components/schemas/motion"
                                },
                                "motionModel": {
                                  "$ref": "#/components/schemas/motionModel"
                                },
                                "motionMP4URL": {
                                  "$ref": "#/components/schemas/motionMP4URL"
                                },
                                "motionStrength": {
                                  "$ref": "#/components/schemas/motionStrength"
                                },
                                "nsfw": {
                                  "nullable": false,
                                  "title": "Boolean",
                                  "type": "boolean"
                                },
                                "url": {
                                  "nullable": false,
                                  "title": "String",
                                  "type": "string"
                                }
                              },
                              "title": "generated_images",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "generation_elements": {
                            "items": {
                              "description": "This table captures the elements that are applied to a Generations, also the order and weightings used when applied.",
                              "nullable": false,
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/bigint"
                                },
                                "lora": {
                                  "description": "Element used for the generation.",
                                  "nullable": true,
                                  "properties": {
                                    "akUUID": {
                                      "$ref": "#/components/schemas/lora/properties/akUUID"
                                    },
                                    "baseModel": {
                                      "$ref": "#/components/schemas/sd_versions"
                                    },
                                    "description": {
                                      "$ref": "#/components/schemas/lora/properties/description"
                                    },
                                    "name": {
                                      "$ref": "#/components/schemas/lora/properties/name"
                                    },
                                    "urlImage": {
                                      "$ref": "#/components/schemas/lora/properties/urlImage"
                                    },
                                    "weightDefault": {
                                      "$ref": "#/components/schemas/lora/properties/weightDefault"
                                    },
                                    "weightMax": {
                                      "$ref": "#/components/schemas/lora/properties/weightMax"
                                    },
                                    "weightMin": {
                                      "$ref": "#/components/schemas/lora/properties/weightMin"
                                    }
                                  },
                                  "title": "elements",
                                  "type": "object"
                                },
                                "weightApplied": {
                                  "$ref": "#/components/schemas/numeric"
                                }
                              },
                              "title": "generation_elements",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "guidanceScale": {
                            "$ref": "#/components/schemas/float8"
                          },
                          "id": {
                            "$ref": "#/components/schemas/uuid"
                          },
                          "imageHeight": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer"
                          },
                          "imageWidth": {
                            "nullable": false,
                            "title": "Int",
                            "type": "integer"
                          },
                          "inferenceSteps": {
                            "nullable": true,
                            "title": "Int",
                            "type": "integer"
                          },
                          "initStrength": {
                            "$ref": "#/components/schemas/float8"
                          },
                          "modelId": {
                            "$ref": "#/components/schemas/uuid"
                          },
                          "negativePrompt": {
                            "nullable": true,
                            "title": "String",
                            "type": "string"
                          },
                          "photoReal": {
                            "$ref": "#/components/schemas/photoRealRes"
                          },
                          "photoRealStrength": {
                            "$ref": "#/components/schemas/photoRealStrengthRes"
                          },
                          "presetStyle": {
                            "$ref": "#/components/schemas/sd_generation_style"
                          },
                          "prompt": {
                            "nullable": false,
                            "title": "String",
                            "type": "string"
                          },
                          "promptMagic": {
                            "$ref": "#/components/schemas/promptMagicRes"
                          },
                          "promptMagicStrength": {
                            "$ref": "#/components/schemas/promptMagicStrengthRes"
                          },
                          "promptMagicVersion": {
                            "$ref": "#/components/schemas/promptMagicVersionRes"
                          },
                          "public": {
                            "nullable": false,
                            "title": "Boolean",
                            "type": "boolean"
                          },
                          "scheduler": {
                            "$ref": "#/components/schemas/sd_generation_schedulers"
                          },
                          "sdVersion": {
                            "$ref": "#/components/schemas/sd_versions"
                          },
                          "seed": {
                            "$ref": "#/components/schemas/seed"
                          },
                          "status": {
                            "$ref": "#/components/schemas/job_status"
                          },
                          "ultra": {
                            "$ref": "#/components/schemas/sd_generation_ultra"
                          }
                        },
                        "title": "generations",
                        "type": "object"
                      },
                      "nullable": false,
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "Responses for GET /generations/user/{userId}"
          }
        }
      }
    },
    "/generations-texture": {
      "post": {
        "tags": ["Texture"],
        "summary": "Create Texture Generation",
        "description": "This endpoint will generate a texture generation.",
        "operationId": "createTextureGeneration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "front_rotation_offset": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer"
                  },
                  "modelAssetId": {
                    "nullable": false,
                    "title": "String",
                    "type": "string"
                  },
                  "negative_prompt": {
                    "nullable": true,
                    "title": "String",
                    "type": "string"
                  },
                  "preview": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean"
                  },
                  "preview_direction": {
                    "nullable": true,
                    "title": "String",
                    "type": "string"
                  },
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string"
                  },
                  "sd_version": {
                    "nullable": true,
                    "title": "String",
                    "type": "string"
                  },
                  "seed": {
                    "$ref": "#/components/schemas/seed"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "textureGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "id": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "apiCreditCost": {
                          "nullable": true,
                          "type": "integer",
                          "description": "API Credits Cost for Texture Generation. Available for Production API Users. Note: it will be deprecated. Please use the cost instead.",
                          "deprecated": true
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "TextureGenerationJobOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "textureGenerationJob": {
                    "id": "b1c2d3e4-f5g6-7890-hijk-lm1234567890",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /api/rest/v1/generations-texture"
          }
        }
      }
    },
    "/generations-motion-svd": {
      "post": {
        "tags": ["Motion"],
        "summary": "Create SVD Motion Generation",
        "description": "This endpoint will generate a SVD motion generation.",
        "operationId": "createSVDMotionGeneration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imageId": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of the image, supports generated images, variation images, and init images."
                  },
                  "isPublic": {
                    "$ref": "#/components/schemas/public"
                  },
                  "isInitImage": {
                    "$ref": "#/components/schemas/isInitImage"
                  },
                  "isVariation": {
                    "$ref": "#/components/schemas/isVariation"
                  },
                  "motionStrength": {
                    "$ref": "#/components/schemas/motionStrength"
                  }
                },
                "type": "object",
                "required": ["imageId"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "motionSvdGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "generationId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "MotionSvdGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "motionSvdGenerationJob": {
                    "generationId": "h7i8j9k0-l1m2-n3o4-pqrs-tu6789012345",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /generations-motion-svd"
          }
        }
      }
    },
    "/generations-image-to-video": {
      "post": {
        "tags": ["Motion"],
        "summary": "Create a video generation from an image",
        "description": "This endpoint will generate a video using an uploaded or generated image.",
        "operationId": "createImageToVideoGeneration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate video"
                  },
                  "imageId": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of the image, supports generated images and init images. Use only image or imageId with imageType."
                  },
                  "imageType": {
                    "type": "string",
                    "nullable": false,
                    "enum": ["GENERATED", "UPLOADED"],
                    "description": "Type indicating whether the init image is uploaded or generated. Use only image or imageId with imageType."
                  },
                  "endFrameImage": {
                    "nullable": true,
                    "title": "Object",
                    "type": "object",
                    "description": "The end frame image. Supported only on kling2_1 model when used in conjunction with an init image.",
                    "properties": {
                      "id": {
                        "nullable": false,
                        "title": "String",
                        "type": "string",
                        "description": "The ID of the end frame image."
                      },
                      "type": {
                        "nullable": false,
                        "title": "String",
                        "type": "string",
                        "enum": ["GENERATED", "UPLOADED"],
                        "description": "Type indicating whether the end frame image is uploaded or generated."
                      }
                    },
                    "required": ["id", "type"]
                  },
                  "resolution": {
                    "nullable": true,
                    "title": "String",
                    "enum": [
                      "RESOLUTION_480",
                      "RESOLUTION_720",
                      "RESOLUTION_1080"
                    ],
                    "description": "The resolution of the output video. Acceptable values vary based on model"
                  },
                  "model": {
                    "nullable": true,
                    "title": "String",
                    "enum": [
                      "MOTION2",
                      "VEO3",
                      "MOTION2FAST",
                      "VEO3FAST",
                      "KLING2_1",
                      "KLING2_5"
                    ],
                    "description": "The model to use for the video generation. Defaults to MOTION2 if not specified.",
                    "default": "MOTION2"
                  },
                  "frameInterpolation": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Smoothly blend frames for fluid video transitions using Interpolation."
                  },
                  "isPublic": {
                    "$ref": "#/components/schemas/public"
                  },
                  "seed": {
                    "type": "integer",
                    "nullable": true,
                    "title": "seed",
                    "description": "Apply a fixed seed to maintain consistency across generation sets. The maximum seed value is 2147483637 for Motion 2.0."
                  },
                  "negativePrompt": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The negative prompt used for the video generation."
                  },
                  "promptEnhance": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Whether to enhance the prompt."
                  },
                  "duration": {
                    "nullable": true,
                    "title": "Integer",
                    "type": "integer",
                    "description": "Duration of the output video in seconds. Allowed values: 4, 6, or 8 on models VEO3 and VEO3FAST (default: 8) and 5 or 10 on model KLING2_5 (default: 5)."
                  },
                  "promptEnhanceInstruction": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "A natural language instruction used to modify the main prompt. For example, 'make it cinematic', 'add a rainbow', or 'change the subject to a cat'."
                  },
                  "styleIds": {
                    "nullable": true,
                    "title": "Array of Strings",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Predefined styles to enhance the prompt. This accepts a list of style uuids."
                  },
                  "elements": {
                    "nullable": true,
                    "title": "Array of Element Inputs",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/element_input"
                    },
                    "description": "An array of elements/loras objects that will be applied sequentially to the output. Elements are only supported for Motion2.0 generations. "
                  },
                  "height": {
                    "nullable": true,
                    "title": "Integer",
                    "type": "integer",
                    "description": "Height of the output video. Acceptable values vary based on model"
                  },
                  "width": {
                    "nullable": true,
                    "title": "Integer",
                    "type": "integer",
                    "description": "Width of the output video. Acceptable values vary based on model"
                  }
                },
                "type": "object",
                "required": ["prompt", "imageId", "imageType"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "motionVideoGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "generationId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "MotionVideoGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "motionVideoGenerationJob": {
                    "generationId": "i8j9k0l1-m2n3-o4p5-qrst-uv7890123456",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /generations-image-to-video"
          }
        }
      }
    },
    "/generations-text-to-video": {
      "post": {
        "tags": ["Motion"],
        "summary": "Create a video generation from a text prompt",
        "description": "This endpoint will generate a video using a text prompt",
        "operationId": "createTextToVideoGeneration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate video"
                  },
                  "resolution": {
                    "nullable": true,
                    "title": "String",
                    "enum": [
                      "RESOLUTION_480",
                      "RESOLUTION_720",
                      "RESOLUTION_1080"
                    ],
                    "description": "The resolution of the output video. Acceptable values vary based on model"
                  },
                  "model": {
                    "nullable": true,
                    "title": "String",
                    "enum": [
                      "MOTION2",
                      "VEO3",
                      "MOTION2FAST",
                      "VEO3FAST",
                      "KLING2_1",
                      "KLING2_5"
                    ],
                    "description": "The model to use for the video generation. Defaults to MOTION2 if not specified.",
                    "default": "MOTION2"
                  },
                  "frameInterpolation": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Smoothly blend frames for fluid video transitions using Interpolation."
                  },
                  "isPublic": {
                    "$ref": "#/components/schemas/public"
                  },
                  "seed": {
                    "type": "integer",
                    "nullable": true,
                    "title": "seed",
                    "description": "Apply a fixed seed to maintain consistency across generation sets. The maximum seed value is 2147483637 for Motion 2.0 and 4294967293 for Veo3."
                  },
                  "negativePrompt": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "The negative prompt used for the video generation."
                  },
                  "promptEnhance": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Whether to enhance the prompt."
                  },
                  "promptEnhanceInstruction": {
                    "nullable": true,
                    "title": "String",
                    "type": "string",
                    "description": "A natural language instruction used to modify the main prompt. For example, 'make it cinematic', 'add a rainbow', or 'change the subject to a cat'."
                  },
                  "styleIds": {
                    "nullable": true,
                    "title": "Array of Strings",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Predefined styles to enhance the prompt. This accepts a list of style uuids."
                  },
                  "height": {
                    "nullable": true,
                    "title": "Integer",
                    "type": "integer",
                    "description": "Height of the output video. Acceptable values vary based on model"
                  },
                  "width": {
                    "nullable": true,
                    "title": "Integer",
                    "type": "integer",
                    "description": "Width of the output video. Acceptable values vary based on model"
                  },
                  "duration": {
                    "nullable": true,
                    "title": "Integer",
                    "type": "integer",
                    "description": "Duration of the output video in seconds. Defaults to 8 seconds if not specified. Allowed values: 4, 6, or 8. Supported on models VEO3 and VEO3FAST.",
                    "default": 8
                  },
                  "elements": {
                    "nullable": true,
                    "title": "Array of Element Inputs",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/element_input"
                    },
                    "description": "An array of elements/loras objects that will be applied sequentially to the output. Elements are only supported for Motion2.0 generations. "
                  }
                },
                "type": "object",
                "required": ["prompt"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "motionVideoGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "generationId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "MotionVideoGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "motionVideoGenerationJob": {
                    "generationId": "j9k0l1m2-n3o4-p5q6-rstu-vw8901234567",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /generations-text-to-video"
          }
        }
      }
    },
    "/generations-video-upscale": {
      "post": {
        "tags": ["Motion"],
        "summary": "Upscale a generated video",
        "description": "This endpoint will upscale a generated video to a higher resolution.",
        "operationId": "createVideoUpscale",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "resolution": {
                    "nullable": false,
                    "title": "String",
                    "enum": ["RESOLUTION_720"],
                    "description": "The resolution of the upscaled video. RESOLUTION_720 is the only option for now."
                  },
                  "sourceGenerationId": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The ID of the source video generation to upscale."
                  }
                },
                "type": "object",
                "required": ["resolution", "sourceGenerationId"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "motionVideoGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "generationId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "variationId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string",
                          "description": "The ID of the upscale variation."
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "MotionVideoGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "motionVideoGenerationJob": {
                    "generationId": "k0l1m2n3-o4p5-q6r7-stuv-wx9012345678",
                    "variationId": "var123456-7890-abcd-efgh-ijklmnopqrst",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /generations-text-to-video"
          }
        }
      }
    },
    "/generations-lcm": {
      "post": {
        "tags": ["Realtime Canvas"],
        "summary": "Create LCM Generation",
        "description": "This endpoint will generate a LCM image generation.",
        "operationId": "createLCMGeneration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imageDataUrl": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`"
                  },
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate images"
                  },
                  "guidance": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20."
                  },
                  "strength": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1."
                  },
                  "requestTimestamp": {
                    "$ref": "#/components/schemas/timestamp"
                  },
                  "style": {
                    "$ref": "#/components/schemas/lcm_generation_style"
                  },
                  "steps": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The number of steps to use for the generation. Must be between 4 and 16."
                  },
                  "width": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "height": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "seed": {
                    "$ref": "#/components/schemas/seed"
                  }
                },
                "type": "object",
                "required": ["imageDataUrl", "prompt"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lcmGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "imageDataUrl": {
                          "nullable": false,
                          "title": "Array of Strings",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "requestTimestamp": {
                          "$ref": "#/components/schemas/timestamp"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "LcmGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "lcmGenerationJob": {
                    "imageDataUrl": [
                      "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAAAAAAD..."
                    ],
                    "requestTimestamp": "1234567890",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /generations-lcm"
          }
        }
      }
    },
    "/lcm-instant-refine": {
      "post": {
        "tags": ["Realtime Canvas"],
        "summary": "Perform instant refine on a LCM image",
        "description": "This endpoint will perform instant refine on a LCM image",
        "operationId": "performInstantRefine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imageDataUrl": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`"
                  },
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate images"
                  },
                  "guidance": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20."
                  },
                  "strength": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1."
                  },
                  "requestTimestamp": {
                    "$ref": "#/components/schemas/timestamp"
                  },
                  "style": {
                    "$ref": "#/components/schemas/lcm_generation_style"
                  },
                  "steps": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The number of steps to use for the generation. Must be between 4 and 16."
                  },
                  "width": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "height": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "seed": {
                    "$ref": "#/components/schemas/seed"
                  }
                },
                "type": "object",
                "required": ["imageDataUrl", "prompt"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lcmGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "imageDataUrl": {
                          "nullable": false,
                          "title": "Array of Strings",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "requestTimestamp": {
                          "$ref": "#/components/schemas/timestamp"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "LcmGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "lcmGenerationJob": {
                    "imageDataUrl": [
                      "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAAAAAAD..."
                    ],
                    "requestTimestamp": "1234567891",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /lcm-instant-refine"
          }
        }
      }
    },
    "/lcm-inpainting": {
      "post": {
        "tags": ["Realtime Canvas"],
        "summary": "Perform inpainting on a LCM image",
        "description": "This endpoint will perform a inpainting on a LCM image",
        "operationId": "performInpaintingLCM",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imageDataUrl": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`"
                  },
                  "maskDataUrl": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "Image data of the mask layer used for inpainting. In base64 format. Prefix: `data:image/jpeg;base64,`. Mask should be white on black where generation is applied to the white area."
                  },
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate images"
                  },
                  "guidance": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20."
                  },
                  "strength": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1."
                  },
                  "requestTimestamp": {
                    "$ref": "#/components/schemas/timestamp"
                  },
                  "style": {
                    "$ref": "#/components/schemas/lcm_generation_style"
                  },
                  "steps": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The number of steps to use for the generation. Must be between 4 and 16."
                  },
                  "width": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "height": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "seed": {
                    "$ref": "#/components/schemas/seed"
                  }
                },
                "type": "object",
                "required": ["imageDataUrl", "maskDataUrl", "prompt"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lcmGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "imageDataUrl": {
                          "nullable": false,
                          "title": "Array of Strings",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "requestTimestamp": {
                          "$ref": "#/components/schemas/timestamp"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "LcmGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "lcmGenerationJob": {
                    "imageDataUrl": [
                      "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAAAAAAD..."
                    ],
                    "requestTimestamp": "1234567892",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /lcm-inpainting"
          }
        }
      }
    },
    "/lcm-upscale": {
      "post": {
        "tags": ["Realtime Canvas"],
        "summary": "Perform Alchemy Upscale on a LCM image",
        "description": "This endpoint will perform Alchemy Upscale on a LCM image",
        "operationId": "performAlchemyUpscaleLCM",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imageDataUrl": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`"
                  },
                  "prompt": {
                    "nullable": false,
                    "title": "String",
                    "type": "string",
                    "description": "The prompt used to generate images"
                  },
                  "guidance": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20."
                  },
                  "strength": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1."
                  },
                  "requestTimestamp": {
                    "$ref": "#/components/schemas/timestamp"
                  },
                  "style": {
                    "$ref": "#/components/schemas/lcm_generation_style"
                  },
                  "steps": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The number of steps to use for the generation. Must be between 4 and 16."
                  },
                  "width": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "height": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer",
                    "description": "The output width of the image. Must be 512, 640 or 1024.",
                    "default": 512
                  },
                  "seed": {
                    "$ref": "#/components/schemas/seed"
                  },
                  "refineCreative": {
                    "nullable": true,
                    "title": "Boolean",
                    "type": "boolean",
                    "description": "Refine creative"
                  },
                  "refineStrength": {
                    "nullable": true,
                    "title": "Float",
                    "type": "number",
                    "description": "Must be a float between 0.5 and 0.9."
                  }
                },
                "type": "object",
                "required": ["imageDataUrl", "prompt"]
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lcmGenerationJob": {
                      "nullable": true,
                      "properties": {
                        "imageDataUrl": {
                          "nullable": false,
                          "title": "Array of Strings",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "generationId": {
                          "nullable": false,
                          "title": "Array of Strings",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "variationId": {
                          "nullable": false,
                          "title": "Array of Strings",
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "generatedImageId": {
                          "nullable": false,
                          "title": "String",
                          "type": "string"
                        },
                        "requestTimestamp": {
                          "$ref": "#/components/schemas/timestamp"
                        },
                        "apiCreditCost": {
                          "$ref": "#/components/schemas/apiCreditCost"
                        },
                        "cost": {
                          "$ref": "#/components/schemas/cost"
                        }
                      },
                      "title": "LcmGenerationOutput",
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "lcmGenerationJob": {
                    "imageDataUrl": [
                      "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAAAAAAD..."
                    ],
                    "variationId": [
                      "var234567-8901-bcde-fghi-jklmnopqrstu"
                    ],
                    "generatedImageId": "l1m2n3o4-p5q6-r7s8-tuvw-xy0123456789",
                    "requestTimestamp": "1234567893",
                    "apiCreditCost": null,
                    "cost": {
                      "amount": "0.0147",
                      "unit": "DOLLARS"
                    }
                  }
                }
              }
            },
            "description": "Responses for POST /lcm-upscale"
          }
        }
      }
    },
    "/generations-texture/model/{modelId}": {
      "get": {
        "tags": ["Texture"],
        "summary": "Get texture generations by 3D Model ID",
        "description": "This endpoint gets the specific texture generations by the 3d model id.",
        "operationId": "getTextureGenerationsByModelId",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "required": true,
            "description": "_\"modelId\" is required (enter it either in parameters or request body)_",
            "in": "path",
            "name": "modelId",
            "schema": {
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "limit": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer"
                  },
                  "modelId": {
                    "$ref": "#/components/schemas/uuid"
                  },
                  "offset": {
                    "nullable": true,
                    "title": "Int",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "model_asset_texture_generations": {
                      "items": {
                        "description": "columns and relationships of \"model_asset_texture_generations\"",
                        "nullable": false,
                        "properties": {
                          "createdAt": {
                            "$ref": "#/components/schemas/timestamp"
                          },
                          "id": {
                            "$ref": "#/components/schemas/uuid"
                          },
                          "model_asset_texture_images": {
                            "items": {
                              "description": "columns and relationships of \"model_asset_texture_images\"",
                              "nullable": false,
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/uuid"
                                },
                                "type": {
                                  "$ref": "#/components/schemas/MODEL_ASSET_TEXTURE_TYPES"
                                },
                                "url": {
                                  "nullable": false,
                                  "title": "String",
                                  "type": "string"
                                }
                              },
                              "title": "model_asset_texture_images",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "negativePrompt": {
                            "nullable": true,
                            "title": "String",
                            "type": "string"
                          },
                          "prompt": {
                            "nullable": false,
                            "title": "String",
                            "type": "string"
                          },
                          "seed": {
                            "$ref": "#/components/schemas/seed"
                          },
                          "status": {
                            "$ref": "#/components/schemas/job_status"
                          }
                        },
                        "title": "model_asset_texture_generations",
                        "type": "object"
                      },
                      "nullable": false,
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "Responses for GET /api/rest/v1/generations-texture/model/{modelId}"
          }
        }
      }
    },
    "/generations-texture/{id}": {
      "get": {
        "tags": ["Texture"],
        "summary": "Get Texture Generation by ID",
        "description": "This endpoint gets the specific texture generation.",
        "operationId": "getTextureGenerationById",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "required": true,
            "description": "_\"id\" is required (enter it either in parameters or request body)_",
            "in": "path",
            "name": "id",
            "schema": {
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/uuid"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "model_asset_texture_generations_by_pk": {
                      "description": "columns and relationships of \"model_asset_texture_generations\"",
                      "nullable": true,
                      "properties": {
                        "createdAt": {
                          "$ref": "#/components/schemas/timestamp"
                        },
                        "id": {
                          "$ref": "#/components/schemas/uuid"
                        },
                        "model_asset_texture_images": {
                          "items": {
                            "description": "columns and relationships of \"model_asset_texture_images\"",
                            "nullable": false,
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/uuid"
                              },
                              "type": {
                                "$ref": "#/components/schemas/MODEL_ASSET_TEXTURE_TYPES"
                              },
                              "url": {
                                "nullable": false,
                                "title": "String",
                                "type": "string"
[...]
