openapi: 3.0.4
info:
  title: Rest Endpoints
  description: Leonardo.Ai API OpenAPI specification.
  version: v1.0.0
servers:
  - url: https://cloud.leonardo.ai/api/rest/v1
    description: Leonardo.Ai API server
paths:
  /me:
    get:
      tags:
        - User
      summary: Get user information
      description: 'This endpoint will return your user information such as your user id, username, token renewal date and current amounts of the following: subscription tokens, gpt (prompt generation) tokens, and model training tokens'
      operationId: getUserSelf
      responses:
        '200':
          description: Responses for GET /me
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_details:
                    type: array
                    items:
                      title: user_details
                      type: object
                      properties:
                        user:
                          title: users
                          type: object
                          properties:
                            id:
                              $ref: '#/components/schemas/uuid'
                            username:
                              title: String
                              type: string
                              description: Username of the user.
                              nullable: true
                          description: columns and relationships of "users"
                          nullable: true
                        tokenRenewalDate:
                          title: timestamp
                          type: string
                          description: User Plan Token Renewal Date.
                          nullable: true
                        paidTokens:
                          title: Int
                          type: integer
                          description: Current balance of paid tokens the user has.
                          nullable: true
                        subscriptionTokens:
                          title: Int
                          type: integer
                          description: Current balance of user plan subscription tokens the user has.
                        subscriptionGptTokens:
                          title: Int
                          type: integer
                          description: Current balance of user plan GPT tokens the user has.
                        subscriptionModelTokens:
                          title: Int
                          type: integer
                          description: Current balance of model training tokens the user has.
                        apiConcurrencySlots:
                          title: Int
                          type: integer
                          description: API Concurrency Slots.
                        apiPaidTokens:
                          title: Int
                          type: integer
                          description: Current balance of API paid tokens the user has.
                          nullable: true
                        apiSubscriptionTokens:
                          title: Int
                          type: integer
                          description: Current balance of Enterprise API subscriptions tokens the user has.
                        apiPlanTokenRenewalDate:
                          title: timestamp
                          type: string
                          description: API Plan Token Renewal Date.
                          nullable: true
                      description: columns and relationships of "user_details"
  /generations:
    post:
      tags:
        - Image
      summary: Create a Generation of Images
      description: This endpoint will generate images
      operationId: createGeneration
      requestBody:
        description: Query parameters to be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - prompt
              type: object
              properties:
                alchemy:
                  title: Boolean
                  type: boolean
                  description: 'Enable to use Alchemy. Note: The appropriate Alchemy version is selected for the specified model. For example, XL models will use Alchemy V2.'
                  default: true
                  nullable: true
                contrastRatio:
                  title: Float
                  type: number
                  description: Contrast Ratio to use with Alchemy. Must be a float between 0 and 1 inclusive.
                  nullable: true
                contrast:
                  title: Float
                  maximum: 4.5
                  minimum: 1
                  type: number
                  description: 'Adjusts the contrast level of the generated image. Used in Phoenix and Flux models. Accepts values [1.0, 1.3, 1.8, 2.5, 3, 3.5, 4, 4.5]. For Phoenix, if alchemy is true, contrast needs to be 2.5 or higher.'
                  nullable: true
                  example: 3.5
                controlnets:
                  type: array
                  items:
                    $ref: '#/components/schemas/controlnet_input'
                  nullable: true
                elements:
                  type: array
                  items:
                    $ref: '#/components/schemas/element_input'
                  nullable: true
                userElements:
                  type: array
                  items:
                    $ref: '#/components/schemas/user_elements_input'
                  nullable: true
                expandedDomain:
                  title: Boolean
                  type: boolean
                  description: Enable to use the Expanded Domain feature of Alchemy.
                  nullable: true
                fantasyAvatar:
                  title: Boolean
                  type: boolean
                  description: Enable to use the Fantasy Avatar feature.
                  nullable: true
                guidance_scale:
                  title: Int
                  type: integer
                  description: How strongly the generation should reflect the prompt. 7 is recommended. Must be between 1 and 20.
                  nullable: true
                height:
                  title: Int
                  type: integer
                  description: 'The input height of the images. Must be between 32 and 1536 and be a multiple of 8. Note: Input resolution is not always the same as output resolution due to upscaling from other features.'
                  default: 768
                  nullable: true
                highContrast:
                  title: Boolean
                  type: boolean
                  description: 'Enable to use the High Contrast feature of Prompt Magic. Note: Controls RAW mode. Set to false to enable RAW mode.'
                  nullable: true
                highResolution:
                  title: Boolean
                  type: boolean
                  description: Enable to use the High Resolution feature of Prompt Magic.
                  nullable: true
                imagePrompts:
                  type: array
                  items:
                    title: String
                    type: string
                    nullable: true
                  nullable: true
                imagePromptWeight:
                  title: Float
                  type: number
                  nullable: true
                init_generation_image_id:
                  title: String
                  type: string
                  description: The ID of an existing image to use in image2image.
                  nullable: true
                init_image_id:
                  title: String
                  type: string
                  description: The ID of an Init Image to use in image2image.
                  nullable: true
                init_strength:
                  title: Float
                  type: number
                  description: How strongly the generated images should reflect the original image in image2image. Must be a float between 0.1 and 0.9.
                  nullable: true
                modelId:
                  title: String
                  type: string
                  description: 'The model ID used for image generation. If not provided, uses sd_version to determine the version of Stable Diffusion to use. In-app, model IDs are under the Finetune Models menu. Click on the platform model or your custom model, then click View More. For platform models, you can also use the List Platform Models API.'
                  default: b24e16ff-06e3-43eb-8d33-4416c2d75876
                  nullable: true
                negative_prompt:
                  title: String
                  type: string
                  description: The negative prompt used for the image generation
                  nullable: true
                num_images:
                  title: Int
                  type: integer
                  description: 'The number of images to generate. Must be between 1 and 8. If either width or height is over 768, must be between 1 and 4.'
                  default: 4
                  nullable: true
                num_inference_steps:
                  title: Int
                  type: integer
                  description: The Step Count to use for the generation. Must be between 10 and 60. Default is 15.
                  nullable: true
                photoReal:
                  $ref: '#/components/schemas/photoRealArg'
                photoRealVersion:
                  $ref: '#/components/schemas/photoRealVersion'
                photoRealStrength:
                  $ref: '#/components/schemas/photoRealStrengthArg'
                presetStyle:
                  $ref: '#/components/schemas/sd_generation_style'
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate images
                  default: A majestic cat in the snow
                promptMagic:
                  $ref: '#/components/schemas/promptMagicArg'
                promptMagicStrength:
                  $ref: '#/components/schemas/promptMagicStrengthArg'
                promptMagicVersion:
                  $ref: '#/components/schemas/promptMagicVersionArg'
                public:
                  title: Boolean
                  type: boolean
                  description: Whether the generated images should show in the community feed.
                  nullable: true
                scheduler:
                  $ref: '#/components/schemas/sd_generation_schedulers'
                sd_version:
                  $ref: '#/components/schemas/sd_versions'
                seed:
                  $ref: '#/components/schemas/seed'
                tiling:
                  title: Boolean
                  type: boolean
                  description: Whether the generated images should tile on all axis.
                  nullable: true
                transparency:
                  title: TransparencyType
                  enum:
                    - disabled
                    - foreground_only
                  type: string
                  description: Which type of transparency this image should use
                  nullable: true
                ultra:
                  title: Boolean
                  type: boolean
                  description: 'Enable to use Ultra mode. Note: can not be used with Alchemy.'
                  nullable: true
                unzoom:
                  title: Boolean
                  type: boolean
                  description: Whether the generated images should be unzoomed (requires unzoomAmount and init_image_id to be set).
                  nullable: true
                unzoomAmount:
                  title: Float
                  type: number
                  description: How much the image should be unzoomed (requires an init_image_id and unzoom to be set to true).
                  nullable: true
                upscaleRatio:
                  title: Float
                  type: number
                  description: How much the image should be upscaled. (Enterprise Only)
                  nullable: true
                width:
                  title: Int
                  type: integer
                  description: 'The input width of the images. Must be between 32 and 1536 and be a multiple of 8. Note: Input resolution is not always the same as output resolution due to upscaling from other features.'
                  default: 1024
                  nullable: true
                controlNet:
                  title: Boolean
                  type: boolean
                  description: This parameter will be deprecated in September 2024. Please use the controlnets array instead.
                  nullable: true
                  deprecated: true
                controlNetType:
                  $ref: '#/components/schemas/controlnet_type'
                weighting:
                  title: Float
                  type: number
                  description: This parameter will be deprecated in September 2024. Please use the controlnets array instead.
                  nullable: true
                  deprecated: true
                canvasRequest:
                  title: Boolean
                  type: boolean
                  description: Whether the generation is for the Canvas Editor feature.
                  nullable: true
                canvasRequestType:
                  $ref: '#/components/schemas/canvasRequestType'
                canvasInitId:
                  title: String
                  type: string
                  description: The ID of an initial image to use in Canvas Editor request.
                  nullable: true
                canvasMaskId:
                  title: String
                  type: string
                  description: The ID of a mask image to use in Canvas Editor request.
                  nullable: true
                enhancePrompt:
                  title: Boolean
                  type: boolean
                  description: 'When enabled, your prompt is expanded to include more detail.'
                  nullable: true
                enhancePromptInstruction:
                  title: String
                  type: string
                  description: 'When enhancePrompt is enabled, the prompt is enhanced based on the given instructions.'
                  nullable: true
        required: true
      responses:
        '200':
          description: Responses for POST /generations
          content:
            application/json:
              schema:
                type: object
                properties:
                  sdGenerationJob:
                    title: SDGenerationOutput
                    type: object
                    properties:
                      generationId:
                        title: String
                        type: string
                      apiCreditCost:
                        type: integer
                        description: API Credits Cost for Image Generation. Available for Production API Users.
                        nullable: true
                    nullable: true
  '/generations/{id}':
    get:
      tags:
        - Image
      summary: Get a Single Generation
      description: This endpoint will provide information about a specific generation
      operationId: getGenerationById
      parameters:
        - name: id
          in: path
          description: The ID of the generation to return.
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for GET /generations/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  generations_by_pk:
                    title: generations
                    type: object
                    properties:
                      createdAt:
                        $ref: '#/components/schemas/timestamp'
                      generated_images:
                        type: array
                        items:
                          title: generated_images
                          type: object
                          properties:
                            generated_image_variation_generics:
                              type: array
                              items:
                                title: generated_image_variation_generic
                                type: object
                                properties:
                                  id:
                                    $ref: '#/components/schemas/uuid'
                                  status:
                                    $ref: '#/components/schemas/job_status'
                                  transformType:
                                    $ref: '#/components/schemas/VARIATION_TYPE'
                                  url:
                                    title: String
                                    type: string
                                    nullable: true
                                description: columns and relationships of "generated_image_variation_generic"
                            fantasyAvatar:
                              title: Boolean
                              type: boolean
                              description: If fantasyAvatar feature was used.
                              nullable: true
                            id:
                              $ref: '#/components/schemas/uuid'
                            imageToVideo:
                              $ref: '#/components/schemas/imageToVideo'
                            likeCount:
                              title: Int
                              type: integer
                            motion:
                              $ref: '#/components/schemas/motion'
                            motionModel:
                              $ref: '#/components/schemas/motionModel'
                            motionMP4URL:
                              $ref: '#/components/schemas/motionMP4URL'
                            motionStrength:
                              $ref: '#/components/schemas/motionStrength'
                            nsfw:
                              title: Boolean
                              type: boolean
                            url:
                              title: String
                              type: string
                          description: columns and relationships of "generated_images"
                      generation_elements:
                        type: array
                        items:
                          title: generation_elements
                          type: object
                          properties:
                            id:
                              $ref: '#/components/schemas/bigint'
                            lora:
                              title: loras
                              type: object
                              properties:
                                akUUID:
                                  $ref: '#/components/schemas/lora'
                                baseModel:
                                  $ref: '#/components/schemas/sd_versions'
                                description:
                                  $ref: '#/components/schemas/lora'
                                name:
                                  $ref: '#/components/schemas/lora'
                                urlImage:
                                  $ref: '#/components/schemas/lora'
                                weightDefault:
                                  $ref: '#/components/schemas/lora'
                                weightMax:
                                  $ref: '#/components/schemas/lora'
                                weightMin:
                                  $ref: '#/components/schemas/lora'
                              description: Element used for the generation.
                              nullable: true
                            weightApplied:
                              $ref: '#/components/schemas/numeric'
                          description: This table captures the elements that are applied to Generations.
                      guidanceScale:
                        $ref: '#/components/schemas/float8'
                      id:
                        $ref: '#/components/schemas/uuid'
                      imageHeight:
                        title: Int
                        type: integer
                      imageWidth:
                        title: Int
                        type: integer
                      inferenceSteps:
                        title: Int
                        type: integer
                        nullable: true
                      initStrength:
                        $ref: '#/components/schemas/float8'
                      modelId:
                        $ref: '#/components/schemas/uuid'
                      negativePrompt:
                        title: String
                        type: string
                        nullable: true
                      photoReal:
                        $ref: '#/components/schemas/photoRealRes'
                      photoRealStrength:
                        $ref: '#/components/schemas/photoRealStrengthRes'
                      presetStyle:
                        $ref: '#/components/schemas/sd_generation_style'
                      prompt:
                        title: String
                        type: string
                      promptMagic:
                        $ref: '#/components/schemas/promptMagicRes'
                      promptMagicStrength:
                        $ref: '#/components/schemas/promptMagicStrengthRes'
                      promptMagicVersion:
                        $ref: '#/components/schemas/promptMagicVersionRes'
                      public:
                        title: Boolean
                        type: boolean
                      scheduler:
                        $ref: '#/components/schemas/sd_generation_schedulers'
                      sdVersion:
                        $ref: '#/components/schemas/sd_versions'
                      seed:
                        $ref: '#/components/schemas/seed'
                      status:
                        $ref: '#/components/schemas/job_status'
                      ultra:
                        $ref: '#/components/schemas/sd_generation_ultra'
                    description: columns and relationships of "generations"
                    nullable: true
    delete:
      tags:
        - Image
      summary: Delete a Single Generation
      description: This endpoint deletes a specific generation
      operationId: deleteGenerationById
      parameters:
        - name: id
          in: path
          description: The ID of the generation to delete.
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for DELETE /generations/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  delete_generations_by_pk:
                    title: generations
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "generations"
                    nullable: true
  '/generations/user/{userId}':
    get:
      tags:
        - Image
      summary: Get generations by user ID
      description: This endpoint returns all generations by a specific user
      operationId: getGenerationsByUserId
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: userId
          in: path
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for GET /generations/user/{userId}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  generations:
                    type: array
                    items:
                      title: generations
                      type: object
                      properties:
                        createdAt:
                          $ref: '#/components/schemas/timestamp'
                        generated_images:
                          type: array
                          items:
                            title: generated_images
                            type: object
                            properties:
                              generated_image_variation_generics:
                                type: array
                                items:
                                  title: generated_image_variation_generic
                                  type: object
                                  properties:
                                    id:
                                      $ref: '#/components/schemas/uuid'
                                    status:
                                      $ref: '#/components/schemas/job_status'
                                    transformType:
                                      $ref: '#/components/schemas/VARIATION_TYPE'
                                    url:
                                      title: String
                                      type: string
                                      nullable: true
                                  description: columns and relationships of "generated_image_variation_generic"
                              id:
                                $ref: '#/components/schemas/uuid'
                              imageToVideo:
                                $ref: '#/components/schemas/imageToVideo'
                              likeCount:
                                title: Int
                                type: integer
                              motion:
                                $ref: '#/components/schemas/motion'
                              motionModel:
                                $ref: '#/components/schemas/motionModel'
                              motionMP4URL:
                                $ref: '#/components/schemas/motionMP4URL'
                              motionStrength:
                                $ref: '#/components/schemas/motionStrength'
                              nsfw:
                                title: Boolean
                                type: boolean
                              url:
                                title: String
                                type: string
                            description: columns and relationships of "generated_images"
                        generation_elements:
                          type: array
                          items:
                            title: generation_elements
                            type: object
                            properties:
                              id:
                                $ref: '#/components/schemas/bigint'
                              lora:
                                title: elements
                                type: object
                                properties:
                                  akUUID:
                                    $ref: '#/components/schemas/lora'
                                  baseModel:
                                    $ref: '#/components/schemas/sd_versions'
                                  description:
                                    $ref: '#/components/schemas/lora'
                                  name:
                                    $ref: '#/components/schemas/lora'
                                  urlImage:
                                    $ref: '#/components/schemas/lora'
                                  weightDefault:
                                    $ref: '#/components/schemas/lora'
                                  weightMax:
                                    $ref: '#/components/schemas/lora'
                                  weightMin:
                                    $ref: '#/components/schemas/lora'
                                description: Element used for the generation.
                                nullable: true
                              weightApplied:
                                $ref: '#/components/schemas/numeric'
                            description: 'This table captures the elements that are applied to a Generations, also the order and weightings used when applied.'
                        guidanceScale:
                          $ref: '#/components/schemas/float8'
                        id:
                          $ref: '#/components/schemas/uuid'
                        imageHeight:
                          title: Int
                          type: integer
                        imageWidth:
                          title: Int
                          type: integer
                        inferenceSteps:
                          title: Int
                          type: integer
                          nullable: true
                        initStrength:
                          $ref: '#/components/schemas/float8'
                        modelId:
                          $ref: '#/components/schemas/uuid'
                        negativePrompt:
                          title: String
                          type: string
                          nullable: true
                        photoReal:
                          $ref: '#/components/schemas/photoRealRes'
                        photoRealStrength:
                          $ref: '#/components/schemas/photoRealStrengthRes'
                        presetStyle:
                          $ref: '#/components/schemas/sd_generation_style'
                        prompt:
                          title: String
                          type: string
                        promptMagic:
                          $ref: '#/components/schemas/promptMagicRes'
                        promptMagicStrength:
                          $ref: '#/components/schemas/promptMagicStrengthRes'
                        promptMagicVersion:
                          $ref: '#/components/schemas/promptMagicVersionRes'
                        public:
                          title: Boolean
                          type: boolean
                        scheduler:
                          $ref: '#/components/schemas/sd_generation_schedulers'
                        sdVersion:
                          $ref: '#/components/schemas/sd_versions'
                        seed:
                          $ref: '#/components/schemas/seed'
                        status:
                          $ref: '#/components/schemas/job_status'
                        ultra:
                          $ref: '#/components/schemas/sd_generation_ultra'
                      description: columns and relationships of "generations"
  /generations-texture:
    post:
      tags:
        - Texture
      summary: Create Texture Generation
      description: This endpoint will generate a texture generation.
      operationId: createTextureGeneration
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                front_rotation_offset:
                  title: Int
                  type: integer
                  nullable: true
                modelAssetId:
                  title: String
                  type: string
                negative_prompt:
                  title: String
                  type: string
                  nullable: true
                preview:
                  title: Boolean
                  type: boolean
                  nullable: true
                preview_direction:
                  title: String
                  type: string
                  nullable: true
                prompt:
                  title: String
                  type: string
                sd_version:
                  title: String
                  type: string
                  nullable: true
                seed:
                  $ref: '#/components/schemas/seed'
      responses:
        '200':
          description: Responses for POST /api/rest/v1/generations-texture
          content:
            application/json:
              schema:
                properties:
                  textureGenerationJob:
                    title: TextureGenerationJobOutput
                    type: object
                    properties:
                      id:
                        title: String
                        type: string
                      apiCreditCost:
                        type: integer
                        description: API Credits Cost for Texture Generation. Available for Production API Users.
                        nullable: true
                    nullable: true
  /generations-motion-svd:
    post:
      tags:
        - Motion
      summary: Create SVD Motion Generation
      description: This endpoint will generate a SVD motion generation.
      operationId: createSVDMotionGeneration
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - imageId
              type: object
              properties:
                imageId:
                  title: String
                  type: string
                  description: 'The ID of the image, supports generated images, variation images, and init images.'
                isPublic:
                  $ref: '#/components/schemas/public'
                isInitImage:
                  $ref: '#/components/schemas/isInitImage'
                isVariation:
                  $ref: '#/components/schemas/isVariation'
                motionStrength:
                  $ref: '#/components/schemas/motionStrength'
      responses:
        '200':
          description: Responses for POST /generations-motion-svd
          content:
            application/json:
              schema:
                type: object
                properties:
                  motionSvdGenerationJob:
                    title: MotionSvdGenerationOutput
                    type: object
                    properties:
                      generationId:
                        title: String
                        type: string
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /generations-image-to-video:
    post:
      tags:
        - Motion
      summary: Create a video generation from an image
      description: This endpoint will generate a video using an uploaded or generated image.
      operationId: createImageToVideoGeneration
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - prompt
                - imageId
                - imageType
              type: object
              properties:
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate video
                imageId:
                  title: String
                  type: string
                  description: 'The ID of the image, supports generated images and init images. Use only image or imageId with imageType.'
                imageType:
                  enum:
                    - GENERATED
                    - UPLOADED
                  type: string
                  description: Type indicating whether the init image is uploaded or generated. Use only image or imageId with imageType.
                resolution:
                  title: String
                  enum:
                    - RESOLUTION_480
                    - RESOLUTION_720
                    - RESOLUTION_1080
                  description: The resolution of the video. MOTION2 and MOTION2FAST supports RESOLUTION_480 and RESOLUTION_720 and defaults to RESOLUTION_480 if not specified. VEO3 and VEO3FAST supports RESOLUTION_720 and RESOLUTION_1080 and defaults to RESOLUTION_720 if not specified. KLING2_5 supports RESOLUTION_1080.
                  nullable: true
                model:
                  title: String
                  enum:
                    - MOTION2
                    - VEO3
                    - MOTION2FAST
                    - VEO3FAST
                    - KLING2_5
                  description: The model to use for the video generation. Defaults to MOTION2 if not specified.
                  default: MOTION2
                  nullable: true
                frameInterpolation:
                  title: Boolean
                  type: boolean
                  description: Smoothly blend frames for fluid video transitions using Interpolation.
                  nullable: true
                isPublic:
                  $ref: '#/components/schemas/public'
                seed:
                  title: seed
                  type: integer
                  description: Apply a fixed seed to maintain consistency across generation sets. The maximum seed value is 2147483637 for Motion 2.0.
                  nullable: true
                negativePrompt:
                  title: String
                  type: string
                  description: The negative prompt used for the video generation.
                  nullable: true
                promptEnhance:
                  title: Boolean
                  type: boolean
                  description: Whether to enhance the prompt.
                  nullable: true
                duration:
                  title: Integer
                  type: integer
                  description: 'Duration of the output video in seconds. Allowed values: 4, 6, or 8 on models VEO3 and VEO3FAST (default: 8) and 5 or 10 on model KLING2_5 (default: 5).'
                  nullable: true
                promptEnhanceInstruction:
                  title: String
                  type: string
                  description: 'A natural language instruction used to modify the main prompt. For example, ''make it cinematic'', ''add a rainbow'', or ''change the subject to a cat''.'
                  nullable: true
                styleIds:
                  title: Array of Strings
                  type: array
                  items:
                    type: string
                  description: Predefined styles to enhance the prompt. This accepts a list of style uuids.
                  nullable: true
                elements:
                  title: Array of Element Inputs
                  type: array
                  items:
                    $ref: '#/components/schemas/element_input'
                  description: 'An array of elements/loras objects that will be applied sequentially to the output. Elements are only supported for Motion2.0 generations. '
                  nullable: true
      responses:
        '200':
          description: Responses for POST /generations-image-to-video
          content:
            application/json:
              schema:
                type: object
                properties:
                  motionVideoGenerationJob:
                    title: MotionVideoGenerationOutput
                    type: object
                    properties:
                      generationId:
                        title: String
                        type: string
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /generations-text-to-video:
    post:
      tags:
        - Motion
      summary: Create a video generation from a text prompt
      description: This endpoint will generate a video using a text prompt
      operationId: createTextToVideoGeneration
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - prompt
              type: object
              properties:
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate video
                resolution:
                  title: String
                  enum:
                    - RESOLUTION_480
                    - RESOLUTION_720
                    - RESOLUTION_1080
                  description: The resolution of the video. MOTION2 and MOTION2FAST supports RESOLUTION_480 and RESOLUTION_720 and defaults to RESOLUTION_480 if not specified. VEO3 and VEO3FAST supports RESOLUTION_720 and RESOLUTION_1080 and defaults to RESOLUTION_720 if not specified. KLING2_5 supports RESOLUTION_1080.
                  nullable: true
                model:
                  title: String
                  enum:
                    - MOTION2
                    - VEO3
                    - MOTION2FAST
                    - VEO3FAST
                    - KLING2_5
                  description: The model to use for the video generation. Defaults to MOTION2 if not specified.
                  default: MOTION2
                  nullable: true
                frameInterpolation:
                  title: Boolean
                  type: boolean
                  description: Smoothly blend frames for fluid video transitions using Interpolation.
                  nullable: true
                isPublic:
                  $ref: '#/components/schemas/public'
                seed:
                  title: seed
                  type: integer
                  description: Apply a fixed seed to maintain consistency across generation sets. The maximum seed value is 2147483637 for Motion 2.0 and 4294967293 for Veo3.
                  nullable: true
                negativePrompt:
                  title: String
                  type: string
                  description: The negative prompt used for the video generation.
                  nullable: true
                promptEnhance:
                  title: Boolean
                  type: boolean
                  description: Whether to enhance the prompt.
                  nullable: true
                promptEnhanceInstruction:
                  title: String
                  type: string
                  description: 'A natural language instruction used to modify the main prompt. For example, ''make it cinematic'', ''add a rainbow'', or ''change the subject to a cat''.'
                  nullable: true
                styleIds:
                  title: Array of Strings
                  type: array
                  items:
                    type: string
                  description: Predefined styles to enhance the prompt. This accepts a list of style uuids.
                  nullable: true
                height:
                  title: Integer
                  type: integer
                  description: Height of the output video.
                  default: 480
                  nullable: true
                width:
                  title: Integer
                  type: integer
                  description: Width of the output video
                  default: 832
                  nullable: true
                duration:
                  title: Integer
                  type: integer
                  description: 'Duration of the output video in seconds. Defaults to 8 seconds if not specified. Allowed values: 4, 6, or 8. Supported on models VEO3 and VEO3FAST.'
                  default: 8
                  nullable: true
                elements:
                  title: Array of Element Inputs
                  type: array
                  items:
                    $ref: '#/components/schemas/element_input'
                  description: 'An array of elements/loras objects that will be applied sequentially to the output. Elements are only supported for Motion2.0 generations. '
                  nullable: true
      responses:
        '200':
          description: Responses for POST /generations-text-to-video
          content:
            application/json:
              schema:
                type: object
                properties:
                  motionVideoGenerationJob:
                    title: MotionVideoGenerationOutput
                    type: object
                    properties:
                      generationId:
                        title: String
                        type: string
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /generations-video-upscale:
    post:
      tags:
        - Motion
      summary: Upscale a generated video
      description: This endpoint will upscale a generated video to a higher resolution.
      operationId: createVideoUpscale
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - resolution
                - sourceGenerationId
              type: object
              properties:
                resolution:
                  title: String
                  enum:
                    - RESOLUTION_720
                  description: The resolution of the upscaled video. RESOLUTION_720 is the only option for now.
                sourceGenerationId:
                  title: String
                  type: string
                  description: The ID of the source video generation to upscale.
      responses:
        '200':
          description: Responses for POST /generations-text-to-video
          content:
            application/json:
              schema:
                type: object
                properties:
                  motionVideoGenerationJob:
                    title: MotionVideoGenerationOutput
                    type: object
                    properties:
                      generationId:
                        title: String
                        type: string
                      variationId:
                        title: String
                        type: string
                        description: The ID of the upscale variation.
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /generations-lcm:
    post:
      tags:
        - Realtime Canvas
      summary: Create LCM Generation
      description: This endpoint will generate a LCM image generation.
      operationId: createLCMGeneration
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - imageDataUrl
                - prompt
              type: object
              properties:
                imageDataUrl:
                  title: String
                  type: string
                  description: 'Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`'
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate images
                guidance:
                  title: Float
                  type: number
                  description: How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20.
                  nullable: true
                strength:
                  title: Float
                  type: number
                  description: Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1.
                  nullable: true
                requestTimestamp:
                  $ref: '#/components/schemas/timestamp'
                style:
                  $ref: '#/components/schemas/lcm_generation_style'
                steps:
                  title: Int
                  type: integer
                  description: The number of steps to use for the generation. Must be between 4 and 16.
                  nullable: true
                width:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                height:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                seed:
                  $ref: '#/components/schemas/seed'
      responses:
        '200':
          description: Responses for POST /generations-lcm
          content:
            application/json:
              schema:
                type: object
                properties:
                  lcmGenerationJob:
                    title: LcmGenerationOutput
                    type: object
                    properties:
                      imageDataUrl:
                        title: Array of Strings
                        type: array
                        items:
                          type: string
                      requestTimestamp:
                        $ref: '#/components/schemas/timestamp'
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /lcm-instant-refine:
    post:
      tags:
        - Realtime Canvas
      summary: Perform instant refine on a LCM image
      description: This endpoint will perform instant refine on a LCM image
      operationId: performInstantRefine
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - imageDataUrl
                - prompt
              type: object
              properties:
                imageDataUrl:
                  title: String
                  type: string
                  description: 'Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`'
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate images
                guidance:
                  title: Float
                  type: number
                  description: How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20.
                  nullable: true
                strength:
                  title: Float
                  type: number
                  description: Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1.
                  nullable: true
                requestTimestamp:
                  $ref: '#/components/schemas/timestamp'
                style:
                  $ref: '#/components/schemas/lcm_generation_style'
                steps:
                  title: Int
                  type: integer
                  description: The number of steps to use for the generation. Must be between 4 and 16.
                  nullable: true
                width:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                height:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                seed:
                  $ref: '#/components/schemas/seed'
      responses:
        '200':
          description: Responses for POST /lcm-instant-refine
          content:
            application/json:
              schema:
                type: object
                properties:
                  lcmGenerationJob:
                    title: LcmGenerationOutput
                    type: object
                    properties:
                      imageDataUrl:
                        title: Array of Strings
                        type: array
                        items:
                          type: string
                      requestTimestamp:
                        $ref: '#/components/schemas/timestamp'
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /lcm-inpainting:
    post:
      tags:
        - Realtime Canvas
      summary: Perform inpainting on a LCM image
      description: This endpoint will perform a inpainting on a LCM image
      operationId: performInpaintingLCM
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - imageDataUrl
                - maskDataUrl
                - prompt
              type: object
              properties:
                imageDataUrl:
                  title: String
                  type: string
                  description: 'Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`'
                maskDataUrl:
                  title: String
                  type: string
                  description: 'Image data of the mask layer used for inpainting. In base64 format. Prefix: `data:image/jpeg;base64,`. Mask should be white on black where generation is applied to the white area.'
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate images
                guidance:
                  title: Float
                  type: number
                  description: How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20.
                  nullable: true
                strength:
                  title: Float
                  type: number
                  description: Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1.
                  nullable: true
                requestTimestamp:
                  $ref: '#/components/schemas/timestamp'
                style:
                  $ref: '#/components/schemas/lcm_generation_style'
                steps:
                  title: Int
                  type: integer
                  description: The number of steps to use for the generation. Must be between 4 and 16.
                  nullable: true
                width:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                height:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                seed:
                  $ref: '#/components/schemas/seed'
      responses:
        '200':
          description: Responses for POST /lcm-inpainting
          content:
            application/json:
              schema:
                type: object
                properties:
                  lcmGenerationJob:
                    title: LcmGenerationOutput
                    type: object
                    properties:
                      imageDataUrl:
                        title: Array of Strings
                        type: array
                        items:
                          type: string
                      requestTimestamp:
                        $ref: '#/components/schemas/timestamp'
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  /lcm-upscale:
    post:
      tags:
        - Realtime Canvas
      summary: Perform Alchemy Upscale on a LCM image
      description: This endpoint will perform Alchemy Upscale on a LCM image
      operationId: performAlchemyUpscaleLCM
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - imageDataUrl
                - prompt
              type: object
              properties:
                imageDataUrl:
                  title: String
                  type: string
                  description: 'Image data used to generate image. In base64 format. Prefix: `data:image/jpeg;base64,`'
                prompt:
                  title: String
                  type: string
                  description: The prompt used to generate images
                guidance:
                  title: Float
                  type: number
                  description: How strongly the generation should reflect the prompt. Must be a float between 0.5 and 20.
                  nullable: true
                strength:
                  title: Float
                  type: number
                  description: Creativity strength of generation. Higher strength will deviate more from the original image supplied in imageDataUrl. Must be a float between 0.1 and 1.
                  nullable: true
                requestTimestamp:
                  $ref: '#/components/schemas/timestamp'
                style:
                  $ref: '#/components/schemas/lcm_generation_style'
                steps:
                  title: Int
                  type: integer
                  description: The number of steps to use for the generation. Must be between 4 and 16.
                  nullable: true
                width:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                height:
                  title: Int
                  type: integer
                  description: 'The output width of the image. Must be 512, 640 or 1024.'
                  default: 512
                  nullable: true
                seed:
                  $ref: '#/components/schemas/seed'
                refineCreative:
                  title: Boolean
                  type: boolean
                  description: Refine creative
                  nullable: true
                refineStrength:
                  title: Float
                  type: number
                  description: Must be a float between 0.5 and 0.9.
                  nullable: true
      responses:
        '200':
          description: Responses for POST /lcm-upscale
          content:
            application/json:
              schema:
                type: object
                properties:
                  lcmGenerationJob:
                    title: LcmGenerationOutput
                    type: object
                    properties:
                      imageDataUrl:
                        title: Array of Strings
                        type: array
                        items:
                          type: string
                      generationId:
                        title: Array of Strings
                        type: array
                        items:
                          type: string
                      variationId:
                        title: Array of Strings
                        type: array
                        items:
                          type: string
                      generatedImageId:
                        title: String
                        type: string
                      requestTimestamp:
                        $ref: '#/components/schemas/timestamp'
                      apiCreditCost:
                        $ref: '#/components/schemas/apiCreditCost'
                    nullable: true
  '/generations-texture/model/{modelId}':
    get:
      tags:
        - Texture
      summary: Get texture generations by 3D Model ID
      description: This endpoint gets the specific texture generations by the 3d model id.
      operationId: getTextureGenerationsByModelId
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: modelId
          in: path
          description: _"modelId" is required (enter it either in parameters or request body)_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  title: Int
                  type: integer
                  nullable: true
                modelId:
                  $ref: '#/components/schemas/uuid'
                offset:
                  title: Int
                  type: integer
                  nullable: true
      responses:
        '200':
          description: 'Responses for GET /api/rest/v1/generations-texture/model/{modelId}'
          content:
            application/json:
              schema:
                properties:
                  model_asset_texture_generations:
                    type: array
                    items:
                      title: model_asset_texture_generations
                      type: object
                      properties:
                        createdAt:
                          $ref: '#/components/schemas/timestamp'
                        id:
                          $ref: '#/components/schemas/uuid'
                        model_asset_texture_images:
                          type: array
                          items:
                            title: model_asset_texture_images
                            type: object
                            properties:
                              id:
                                $ref: '#/components/schemas/uuid'
                              type:
                                $ref: '#/components/schemas/MODEL_ASSET_TEXTURE_TYPES'
                              url:
                                title: String
                                type: string
                            description: columns and relationships of "model_asset_texture_images"
                        negativePrompt:
                          title: String
                          type: string
                          nullable: true
                        prompt:
                          title: String
                          type: string
                        seed:
                          $ref: '#/components/schemas/seed'
                        status:
                          $ref: '#/components/schemas/job_status'
                      description: columns and relationships of "model_asset_texture_generations"
  '/generations-texture/{id}':
    get:
      tags:
        - Texture
      summary: Get Texture Generation by ID
      description: This endpoint gets the specific texture generation.
      operationId: getTextureGenerationById
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: id
          in: path
          description: _"id" is required (enter it either in parameters or request body)_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/uuid'
      responses:
        '200':
          description: 'Responses for GET /api/rest/v1/generations-texture/{id}'
          content:
            application/json:
              schema:
                properties:
                  model_asset_texture_generations_by_pk:
                    title: model_asset_texture_generations
                    type: object
                    properties:
                      createdAt:
                        $ref: '#/components/schemas/timestamp'
                      id:
                        $ref: '#/components/schemas/uuid'
                      model_asset_texture_images:
                        type: array
                        items:
                          title: model_asset_texture_images
                          type: object
                          properties:
                            id:
                              $ref: '#/components/schemas/uuid'
                            type:
                              $ref: '#/components/schemas/MODEL_ASSET_TEXTURE_TYPES'
                            url:
                              title: String
                              type: string
                          description: columns and relationships of "model_asset_texture_images"
                      negativePrompt:
                        title: String
                        type: string
                        nullable: true
                      prompt:
                        title: String
                        type: string
                      seed:
                        $ref: '#/components/schemas/seed'
                      status:
                        $ref: '#/components/schemas/job_status'
                    description: columns and relationships of "model_asset_texture_generations"
                    nullable: true
    delete:
      tags:
        - Texture
      summary: Delete Texture Generation by ID
      description: This endpoint deletes the specific texture generation.
      operationId: deleteTextureGenerationById
      parameters:
        - name: id
          in: path
          description: _"id" is required (enter it either in parameters or request body)_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/uuid'
      responses:
        '200':
          description: 'Responses for DELETE /api/rest/v1/generations-texture/{id}'
          content:
            application/json:
              schema:
                properties:
                  delete_model_asset_texture_generations_by_pk:
                    title: model_asset_texture_generations
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "model_asset_texture_generations"
                    nullable: true
  /models-3d/upload:
    post:
      tags:
        - 3D Model Assets
      summary: Upload 3D Model
      description: This endpoint returns presigned details to upload a 3D model to S3
      operationId: uploadModelAsset
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                modelExtension:
                  title: String
                  type: string
                name:
                  title: String
                  type: string
                  nullable: true
      responses:
        '200':
          description: Responses for POST /api/rest/v1/models-3d/upload
          content:
            application/json:
              schema:
                properties:
                  uploadModelAsset:
                    title: ModelAssetUploadOutput
                    type: object
                    properties:
                      modelFields:
                        title: String
                        type: string
                        nullable: true
                      modelId:
                        title: String
                        type: string
                        nullable: true
                      modelKey:
                        title: String
                        type: string
                        nullable: true
                      modelUrl:
                        title: String
                        type: string
                        nullable: true
                    nullable: true
  '/models-3d/user/{userId}':
    get:
      tags:
        - 3D Model Assets
      summary: Get 3D models by user ID
      description: This endpoint returns all 3D models by a specific user
      operationId: get3DModelsByUserId
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: userId
          in: path
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  $ref: '#/components/schemas/uuid'
      responses:
        '200':
          description: 'Responses for GET /api/rest/v1/models-3d/user/{userId}'
          content:
            application/json:
              schema:
                properties:
                  model_assets:
                    type: array
                    items:
                      title: model_assets
                      type: object
                      properties:
                        createdAt:
                          $ref: '#/components/schemas/timestamp'
                        id:
                          $ref: '#/components/schemas/uuid'
                        meshUrl:
                          title: String
                          type: string
                        name:
                          title: String
                          type: string
                          nullable: true
                        updatedAt:
                          $ref: '#/components/schemas/timestamp'
                        userId:
                          $ref: '#/components/schemas/uuid'
                      description: columns and relationships of "model_assets"
  '/models-3d/{id}':
    get:
      tags:
        - 3D Model Assets
      summary: Get 3D Model by ID
      description: This endpoint gets the specific 3D model
      operationId: get3DModelById
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: id
          in: path
          description: _"id" is required (enter it either in parameters or request body)_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/uuid'
      responses:
        '200':
          description: 'Responses for GET /api/rest/v1/models-3d/{id}'
          content:
            application/json:
              schema:
                properties:
                  model_assets_by_pk:
                    title: model_assets
                    type: object
                    properties:
                      createdAt:
                        $ref: '#/components/schemas/timestamp'
                      id:
                        $ref: '#/components/schemas/uuid'
                      meshUrl:
                        title: String
                        type: string
                      name:
                        title: String
                        type: string
                        nullable: true
                      updatedAt:
                        $ref: '#/components/schemas/timestamp'
                      userId:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "model_assets"
                    nullable: true
    delete:
      tags:
        - 3D Model Assets
      summary: Delete 3D Model by ID
      description: This endpoint deletes the specific 3D Model
      operationId: delete3DModelById
      parameters:
        - name: id
          in: path
          description: _"id" is required (enter it either in parameters or request body)_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/uuid'
      responses:
        '200':
          description: 'Responses for DELETE /api/rest/v1/models-3d/{id}'
          content:
            application/json:
              schema:
                properties:
                  delete_model_assets_by_pk:
                    title: model_assets
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "model_assets"
                    nullable: true
  /init-image:
    post:
      tags:
        - Init Images
      summary: Upload init image
      description: This endpoint returns presigned details to upload an init image to S3
      operationId: uploadInitImage
      requestBody:
        description: Query parameters provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - extension
              type: object
              properties:
                extension:
                  title: String
                  type: string
                  description: 'Has to be png, jpg, jpeg, or webp.'
        required: true
      responses:
        '200':
          description: Responses for POST /init-image
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadInitImage:
                    title: InitImageUploadOutput
                    type: object
                    properties:
                      fields:
                        title: String
                        type: string
                        nullable: true
                      id:
                        title: String
                        type: string
                        nullable: true
                      key:
                        title: String
                        type: string
                        nullable: true
                      url:
                        title: String
                        type: string
                        nullable: true
                    nullable: true
  '/init-image/{id}':
    get:
      tags:
        - Init Images
      summary: Get single init image
      description: This endpoint will return a single init image
      operationId: getInitImageById
      parameters:
        - name: id
          in: path
          description: _"id" is required_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for GET /init-image/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  init_images_by_pk:
                    title: init_images
                    type: object
                    properties:
                      createdAt:
                        $ref: '#/components/schemas/timestamp'
                      id:
                        $ref: '#/components/schemas/uuid'
                      url:
                        title: String
                        type: string
                    description: columns and relationships of "init_images"
                    nullable: true
    delete:
      tags:
        - Init Images
      summary: Delete init image
      description: This endpoint deletes an init image
      operationId: deleteInitImageById
      parameters:
        - name: id
          in: path
          description: _"id" is required_
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for DELETE /init-image/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  delete_init_images_by_pk:
                    title: init_images
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "init_images"
                    nullable: true
  /canvas-init-image:
    post:
      tags:
        - Init Images
      summary: Upload Canvas Editor init and mask image
      description: This endpoint returns presigned details to upload an init image and a mask image to S3
      operationId: uploadCanvasInitImage
      requestBody:
        description: Query parameters provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - initExtension
                - maskExtension
              type: object
              properties:
                initExtension:
                  title: String
                  type: string
                  description: 'Has to be png, jpg, jpeg, or webp.'
                maskExtension:
                  title: String
                  type: string
                  description: 'Has to be png, jpg, jpeg, or webp.'
        required: true
      responses:
        '200':
          description: Responses for POST /canvas-init-image
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadCanvasInitImage:
                    title: CanvasInitImageUploadOutput
                    type: object
                    properties:
                      initImageId:
                        title: String
                        type: string
                        nullable: true
                      initFields:
                        title: String
                        type: string
                        nullable: true
                      initKey:
                        title: String
                        type: string
                        nullable: true
                      initUrl:
                        title: String
                        type: string
                        nullable: true
                      maskImageId:
                        title: String
                        type: string
                        nullable: true
                      maskFields:
                        title: String
                        type: string
                        nullable: true
                      maskKey:
                        title: String
                        type: string
                        nullable: true
                      maskUrl:
                        title: String
                        type: string
                        nullable: true
                    nullable: true
  /variations/unzoom:
    post:
      tags:
        - Variation
      summary: Create unzoom
      description: This endpoint will create an unzoom variation for the provided image ID
      operationId: createVariationUnzoom
      requestBody:
        description: Query parameters can also be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  title: String
                  type: string
                isVariation:
                  title: Boolean
                  type: boolean
                  nullable: true
      responses:
        '200':
          description: Responses for POST /api/rest/v1/variations/unzoom
          content:
            application/json:
              schema:
                properties:
                  sdUnzoomJob:
                    title: SDUnzoomOutput
                    type: object
                    properties:
                      id:
                        title: String
                        type: string
                      apiCreditCost:
                        type: integer
                        description: API Credits Cost for Unzoom Variation. Available for Production API Users.
                        nullable: true
                    nullable: true
  /variations/upscale:
    post:
      tags:
        - Variation
      summary: Create upscale
      description: This endpoint will create an upscale for the provided image ID
      operationId: createVariationUpscale
      requestBody:
        description: Query parameters are provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - id
              type: object
              properties:
                id:
                  title: String
                  type: string
      responses:
        '200':
          description: Responses for POST /variations/upscale
          content:
            application/json:
              schema:
                type: object
                properties:
                  sdUpscaleJob:
                    title: SDUpscaleJobOutput
                    type: object
                    properties:
                      id:
                        title: String
                        type: string
                      apiCreditCost:
                        type: integer
                        description: API Credits Cost for Upscale Variation. Available for Production API Users.
                        nullable: true
                    nullable: true
  /variations/nobg:
    post:
      tags:
        - Variation
      summary: Create no background
      description: This endpoint will create a no background variation of the provided image ID
      operationId: createVariationNoBG
      requestBody:
        description: Query parameters are provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - id
              type: object
              properties:
                id:
                  title: String
                  type: string
                isVariation:
                  title: Boolean
                  type: boolean
        required: true
      responses:
        '200':
          description: Responses for POST /variations/nobg
          content:
            application/json:
              schema:
                type: object
                properties:
                  sdNobgJob:
                    title: SDUpscaleJobOutput
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                      apiCreditCost:
                        type: integer
                        description: API Credits Cost for No Background Variation. Available for Production API Users.
                        nullable: true
  /variations/universal-upscaler:
    post:
      tags:
        - Variation
      summary: Create using Universal Upscaler
      description: This endpoint will create a high resolution image using Universal Upscaler
      operationId: CreateUniversalUpscalerJob
      requestBody:
        description: Query parameters are provided in the request body as a JSON object
        content:
          application/json:
            schema:
              type: object
              properties:
                creativityStrength:
                  title: Int
                  type: integer
                  description: The creativity strength of the universal upscaler. Must be between 1 and 10.
                  default: 5
                  nullable: true
                detailContrast:
                  title: Int
                  type: integer
                  description: The detail contrast of the universal upscaler. Must be between 1 and 10. Can only be used with ultraUpscaleStyle.
                  nullable: true
                generatedImageId:
                  title: String
                  type: string
                  description: The ID of the generated image.
                  nullable: true
                initImageId:
                  title: String
                  type: string
                  description: The ID of the init image uploaded.
                  nullable: true
                prompt:
                  title: String
                  type: string
                  description: The prompt for the universal upscaler.
                  nullable: true
                similarity:
                  title: Int
                  type: integer
                  description: The similarity of the universal upscaler. Must be between 1 and 10. Can only be used with ultraUpscaleStyle.
                  nullable: true
                ultraUpscaleStyle:
                  $ref: '#/components/schemas/universal_upscaler_ultra_style'
                upscaleMultiplier:
                  title: Float
                  type: number
                  description: The upscale multiplier of the universal upscaler. Must be between 1.0 and 2.0.
                  default: 1.5
                  nullable: true
                upscalerStyle:
                  $ref: '#/components/schemas/universal_upscaler_style'
                variationId:
                  title: String
                  type: string
                  description: The ID of the variation image.
                  nullable: true
        required: true
      responses:
        '200':
          description: Responses for POST /variations/universal-upscaler
          content:
            application/json:
              schema:
                type: object
                properties:
                  universalUpscaler:
                    title: UniversalUpscalerOutput
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                      apiCreditCost:
                        type: integer
                        description: API Credits Cost for Universal Upscaler Variation. Available for Production API Users.
                        nullable: true
  '/variations/{id}':
    get:
      tags:
        - Variation
      summary: Get variation by ID
      description: This endpoint will get the variation by ID
      operationId: getVariationById
      parameters:
        - name: id
          in: path
          description: '"id" is required'
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for GET /variations/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated_image_variation_generic:
                    type: array
                    items:
                      title: generated_image_variation_generic
                      type: object
                      properties:
                        createdAt:
                          $ref: '#/components/schemas/timestamp'
                        id:
                          $ref: '#/components/schemas/uuid'
                        status:
                          $ref: '#/components/schemas/job_status'
                        transformType:
                          $ref: '#/components/schemas/VARIATION_TYPE'
                        url:
                          title: String
                          type: string
                          nullable: true
                      description: columns and relationships of "generated_image_variation_generic"
  '/motion-variations/{id}':
    get:
      tags:
        - Variation
      summary: Get motion variation by ID
      description: This endpoint will get the motion variation by ID
      operationId: getMotionVariationById
      parameters:
        - name: id
          in: path
          description: '"id" is required'
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for GET /motion-variations/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated_image_variation_motion:
                    type: array
                    items:
                      title: generated_image_variation_motion
                      type: object
                      properties:
                        createdAt:
                          $ref: '#/components/schemas/timestamp'
                        id:
                          $ref: '#/components/schemas/uuid'
                        status:
                          $ref: '#/components/schemas/job_status'
                        motionTransformType:
                          $ref: '#/components/schemas/MOTION_VARIATION_TYPE'
                        resolution:
                          $ref: '#/components/schemas/MOTION_RESOLUTION'
                        url:
                          title: String
                          type: string
                          nullable: true
                      description: columns and relationships of "generated_image_variation_motion"
  /datasets:
    post:
      tags:
        - Dataset
      summary: Create a Dataset
      description: This endpoint creates a new dataset
      operationId: createDataset
      requestBody:
        description: Query parameters to be provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - name
              type: object
              properties:
                name:
                  title: String
                  type: string
                  description: The name of the dataset.
                description:
                  title: String
                  type: string
                  description: A description for the dataset.
                  nullable: true
        required: true
      responses:
        '200':
          description: Responses for POST /datasets
          content:
            application/json:
              schema:
                type: object
                properties:
                  insert_datasets_one:
                    title: datasets
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "datasets"
                    nullable: true
  '/datasets/{id}':
    get:
      tags:
        - Dataset
      summary: Get a Single Dataset by ID
      description: This endpoint gets the specific dataset
      operationId: getDatasetById
      parameters:
        - name: id
          in: path
          description: The ID of the dataset to return.
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for GET /datasets/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasets_by_pk:
                    title: datasets
                    type: object
                    properties:
                      createdAt:
                        $ref: '#/components/schemas/timestamp'
                      dataset_images:
                        type: array
                        items:
                          title: dataset_images
                          type: object
                          properties:
                            createdAt:
                              $ref: '#/components/schemas/timestamp'
                            id:
                              $ref: '#/components/schemas/uuid'
                            url:
                              title: String
                              type: string
                          description: columns and relationships of "dataset_images"
                      description:
                        title: String
                        type: string
                        nullable: true
                      id:
                        $ref: '#/components/schemas/uuid'
                      name:
                        title: String
                        type: string
                      updatedAt:
                        $ref: '#/components/schemas/timestamp'
                    description: columns and relationships of "datasets"
                    nullable: true
    delete:
      tags:
        - Dataset
      summary: Delete a Single Dataset by ID
      description: This endpoint deletes the specific dataset
      operationId: deleteDatasetById
      parameters:
        - name: id
          in: path
          description: The ID of the dataset to delete.
          required: true
          schema:
            pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
            type: string
      responses:
        '200':
          description: 'Responses for DELETE /datasets/{id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  delete_datasets_by_pk:
                    title: datasets
                    type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/uuid'
                    description: columns and relationships of "datasets"
                    nullable: true
  '/datasets/{datasetId}/upload':
    post:
      tags:
        - Dataset
      summary: Upload dataset image
      description: This endpoint returns presigned details to upload a dataset image to S3
      operationId: uploadDatasetImage
      parameters:
        - name: datasetId
          in: path
          description: _"datasetId" is required
          required: true
          schema:
            type: string
      requestBody:
        description: Query parameters provided in the request body as a JSON object
        content:
          application/json:
            schema:
              required:
                - extension
              type: object
              properties:
                extension:
                  title: String
                  type: string
                  description: 'Has to be png, jpg, jpeg, or webp.'
        required: true
      responses:
        '200':
          description: 'Responses for POST /datasets/{datasetId}/upload'
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadDatasetImage:
                    title: DatasetUploadOutput
                    type: object
                    properties:
                      fields:
                        title: String
                        type: string
                        nullable: true
                      id:
                        title: String
                        type: string
                        nullable: true
                      key:
                        title: String
                        type: string
                        nullable: true
                      url:
                        title: String
                        type: string
                        nullable: true
                    nullable: true
  '/datasets/{datasetId}/upload/gen':
    post:
      tags:
        - Dataset
[...]
